.dispositivos{
    text-align: center;
}

.dispositivos__titulo{
    font-size: 48px;
    color: var(--cor-titulo);
}

.dispositivos__listas{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0em;
}

.lista__item{
    font-size: 32px;
    color: var(--cor-titulo);
}