.dispositivos{
    text-align: center;
}

.dispositivos__titulo{
    font-size: 3rem;
    color: var(--cor-titulo);
}

.dispositivos__listas{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0em;
}

.lista__item{
    font-size: 2rem;
    color: var(--cor-titulo);
}

@media (max-width: 700px){
    .dispositivos{
        margin-top: 5em;
    }
    
    .dispositivos__listas{
        flex-direction: column;
    }
     
 }