.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a{
    text-decoration: none;
    color: var(--color-titulo);
    margin-left: 1em;
}

.lista__link a:hover{
    color: var(--cor-botao)
}

.rodape__texto {
    margin: 1em 0;
    color: var(--cor-paragrafo);
    font-size: 14px;
}